{% extends "layout.html" %}
{% block content %}

{#fash error messages#}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li class="">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
 {% endwith %}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newemployeemodal">
  Add New Employee
</button>

<!-- Modal -->
<div class="modal fade" id="newemployeemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/newemployee" method="post">
  <div class="form-group">
    <label for="name">Employee Name</label>
    <input type="text" class="form-control" id="name" placeholder="Employee Name" required name="name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Employee's Email Address" required name="email">
  </div>

            <div class="form-group">
    <label for="kra">KRA Pin</label>
    <input type="text" class="form-control" id="kra" placeholder="Employee's KRA pin" required name="kra">
  </div>
                 <div class="form-group">
    <label for="basicsalary">Basic Salary</label>
    <input type="number" class="form-control" id="basicsalary" placeholder="Employee's Basic Salary" required name="basicsalary" >
  </div>
            <div class="form-group">
    <label for="benefits">Benefits</label>
    <input type="number" class="form-control" id="benefits" placeholder="Employee's Benefits" required name="benefits" >
  </div>
 <div class="form-group">

    <input type="submit" class="form-control btn btn-primary">
  </div>



</form>
      </div>

    </div>
  </div>
</div>

{#table#}
<table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee's Name</th>
      <th scope="col">Email</th>
      <th scope="col">KRA Pin</th>
      <th scope="col">Start Date</th>
      <th scope="col">Basic Salary</th>
      <th scope="col">Benefits</th>
      <th scope="col">Payrolls</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
{#  Jinja tempating engine#}
{% for each in wafanyikazi %}

    <tr>
      <th scope="row">{{ each.employee_id }}</th>
      <td>{{ each.name }}</td>
      <td>{{ each.email }}</td>
      <td>{{ each.kra_pin }}</td>
      <td>{{ each.start_date }}</td>
      <td>{{ each.basic_salary }}</td>
      <td>{{ each.benefits }}</td>
      <td><a href="/payrolls/{{ each.employee_id }}"><button class="btn btn-primary">View Payrolls</button> </a> </td>
      <td>
      <!-- Button trigger delete modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ each.employee_id }}">
  Edit Employee Details
</button>
        <!-- Modal -->
<div class="modal fade" id="modal{{ each.employee_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update {{ each.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
{#        Modal Body#}
    <div class="modal-body">
<form action="/editemployee/{{ each.employee_id }}" method="post">
  <div class="form-group">
    <label for="name">Employee Name</label>
    <input value="{{ each.name }}" type="text" class="form-control" id="name" placeholder="Employee Name" required name="name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input value="{{ each.email }}" type="email" class="form-control" id="email" placeholder="Employee's Email Address" required name="email">
  </div>

            <div class="form-group">
    <label for="kra">KRA Pin</label>
    <input value="{{ each.kra_pin }}" type="text" class="form-control" id="kra" placeholder="Employee's KRA pin" required name="kra">
  </div>
                 <div class="form-group">
    <label for="basicsalary">Basic Salary</label>
    <input value="{{ each.basic_salary }}" type="number" class="form-control" id="basicsalary" placeholder="Employee's Basic Salary" required name="basicsalary" >
  </div>
            <div class="form-group">
    <label for="benefits">Benefits</label>
    <input value="{{ each.benefits }}" type="number" class="form-control" id="benefits" placeholder="Employee's Benefits" required name="benefits" >
  </div>
 <div class="form-group">

    <input value="Save Changes" type="submit" class="form-control btn btn-primary">
  </div>



</form>

    </div>



    </div>
  </div>
</div></td>

        <td>
              <!-- Button trigger delete modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteemployee">
  Delete
</button>
        <!-- Modal -->
<div class="modal fade" id="deleteemployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
{#        Modal Header#}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
{#        Modal Body#}
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
{#        modal footer#}
    <div  class="footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <a href="/delete/{{ each.employee_id }}"><button class="btn btn-danger">Delete</button> </a>
          </div>

    </div>
  </div>
</div>

      </td>
    </tr>
{% endfor %}

  </tbody>
</table>

{% endblock content %}